<div class="container-fluid bg-light-blue py-5">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6 text-section">
                <h1 class="fw-bold display-5 text-dark-blue">
                    ¡Participa de todas nuestras promociones!
                </h1>
                <p class="lead fs-5 text-secondary">
                    Conoce el detalle de cada promoción y gana con SURGIR.
                </p>
            </div>

            <div class="col-md-6 d-flex justify-content-center">
                <div class="custom-blob-container">
                    <img src="assets/tu-imagen.jpg" alt="Promociones Surgir" class="img-fluid blob-mask">
                </div>
            </div>

        </div>
    </div>
</div>